# Abaikan konfigurasi IDE dan build
.vscode/
target/
.idea/
*.class

# Abaikan semua file berbau firebase json secara total
**/*firebase*.json
**/firebase-service-account.json
firebase-service-account.json